# Bay Area Dataheads
Andy Nguyen, Cameron Cheung, Sergio Fernandez, Phillip Young 
#### Team Homework Assignment
#### Professor Jensen || BUS-118S (SEC-01)

In [2]:
# The code was removed by DSX for sharing.

# Read Review Data
Read the review data from round 11 of the Yelp Dataset Challenge. 
The 5.2 million reviews in this data file include every review from the 
following 11 cities, except those reviews that Yelp has filetered as not
being recommended.
* Las Vegas, NV
* Phoenix, AZ
* Madison, WI 
* Urbana-Champaign, IL
* Cleveland, OH
* Pittsburgh, PA
* Charlotte, NC
* Montreal (Canada)
* Quebec (Canada)
* Edinburgh (U.K.)
* Karlsruhe, (Germany)

In [3]:
# Please read the documentation of PySpark to learn more about the possibilities to load data files.
# PySpark documentation: https://spark.apache.org/docs/2.0.1/api/python/pyspark.sql.html#pyspark.sql.SparkSession
# The SparkSession object is already initialized for you.
# The following variable contains the path to your file on your IBM Cloud Object Storage.

path_review = cos.url('review.json.bz2', 'spring2018andy023363be332e40639c4287c87e0af5e0')
df_reviews = spark.read.json(path_review)
print "number of reviews:", df_reviews.count()
df_reviews.printSchema()
df_reviews.show(5)

number of reviews: 5261669
root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: long (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|      date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
|0W4lkclzZThpx3V65...|   0|2016-05-28|    0|v0i_UHJMo_hPBq9bx...|    5|Love the staff, l...|     0|bv2nCi5Qv5vroFiqK...|
|AEx2SYEUJmTxVVB18...|   0|2016-05-28|    0|vkVSCC7xljjrAI4UG...|    5|Super simple plac...|     0|bv2nCi5Qv5vroFiqK...|
|VR6GpWIda3SfvPC-l...|   0|2016-05-28|    0|n6QzIUObkYshz4dz2...|    5|Small unassuming ...|     0|bv2nCi5Qv5vroFiqK...|
|CKC0-MOWMqoeWf6s-...|   0|2016-05-28|    0|MV3CcKScW05u5LVfF...|    5|Lester's is locat...|     0|bv2nCi5Qv5vroFiqK...|
|ACFtxLv8pGrrxMm6E...|   0|2016-05-28|    0|IXvOzsEMYtiJI0CAR...|    4|Love coming here....|     0|bv2nCi5Qv5vroFiqK...|
+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 5 rows

#Read User Data
Read the user data from round 11 of the Yelp Dataset challenge. Includes users who wrote a review from any of the following (11) cities, except those reviews that Yelp has filtered as not being recommended.

* Las Vegas, NV
* Phoenix, AZ
* Madison, WI
* Urbana-Champaign, IL
* Cleveland, OH
* Pitssburgh, PA
* Charlotte, NC
* Montreal (Canada)
* Quebec (Canada)
* Karlsruhe, (Germany)

# USER'S

In [4]:
path_user = cos.url('user.json.bz2', 'spring2018andy023363be332e40639c4287c87e0af5e0') 
df_users = spark.read.json(path_user) 
print "Number of users:", df_users.count() 
df_users.printSchema() 
df_users.show(5)

Number of users: 1326101
root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- fans: long (nullable = true)
 |-- friends: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-----+----+--------------------+-----+------+------------+------+--------------------+-------------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer|cool|elite|fans|             friends|funny|  name|review_count|useful|             user_id|yelping_since|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-----+----+--------------------+-----+------+------------+------+--------------------+-------------+
|         4.67|              0|              0|               0|             0|              0|              0|              0|                0|               1|                 0|                0|   0|   []|   0|[cvVMmlU1ouS3I5fh...|    0|Johnny|           8|     0|oMy_rEb0UBEmMlu-z...|   2014-11-03|
|          3.7|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   0|   []|   0|[0njfJmB-7n84DlIg...|    0| Chris|          10|     0|JJ-aSuM4pCFPdkfoZ...|   2013-09-24|
|          2.0|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   0|   []|   0|                  []|    0| Tiffy|           1|     0|uUzsFQn_6cXDh6rPN...|   2017-03-02|
|         4.67|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   0|   []|   0|                  []|    0|  Mark|           6|     0|mBneaEEH5EMyxaVyq...|   2015-03-13|
|         4.67|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   0|   []|   0|                  []|    0|Evelyn|           3|     0|W5mJGs-dcDWRGEhAz...|   2016-09-08|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-----+----+--------------------+-----+------+------------+------+--------------------+-------------+
only showing top 5 rows

# BUSINESS

In [5]:
path_business = cos.url('business.json.bz2', 'spring2018andy023363be332e40639c4287c87e0af5e0') 
df_business = spark.read.json(path_business) 
print "Number of users:", df_business.count() 
df_business.printSchema() 
df_business.show(5)

Number of users: 174567
root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: boolean (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: struct (nullable = true)
 |    |    |-- casual: boolean (nullable = true)
 |    |    |-- classy: boolean (nullable = true)
 |    |    |-- divey: boolean (nullable = true)
 |    |    |-- hipster: boolean (nullable = true)
 |    |    |-- intimate: boolean (nullable = true)
 |    |    |-- romantic: boolean (nullable = true)
 |    |    |-- touristy: boolean (nullable = true)
 |    |    |-- trendy: boolean (nullable = true)
 |    |    |-- upscale: boolean (nullable = true)
 |    |-- BYOB: boolean (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: struct (nullable = true)
 |    |    |-- friday: boolean (nullable = true)
 |    |    |-- monday: boolean (nullable = true)
 |    |    |-- saturday: boolean (nullable = true)
 |    |    |-- sunday: boolean (nullable = true)
 |    |    |-- thursday: boolean (nullable = true)
 |    |    |-- tuesday: boolean (nullable = true)
 |    |    |-- wednesday: boolean (nullable = true)
 |    |-- BikeParking: boolean (nullable = true)
 |    |-- BusinessAcceptsBitcoin: boolean (nullable = true)
 |    |-- BusinessAcceptsCreditCards: boolean (nullable = true)
 |    |-- BusinessParking: struct (nullable = true)
 |    |    |-- garage: boolean (nullable = true)
 |    |    |-- lot: boolean (nullable = true)
 |    |    |-- street: boolean (nullable = true)
 |    |    |-- valet: boolean (nullable = true)
 |    |    |-- validated: boolean (nullable = true)
 |    |-- ByAppointmentOnly: boolean (nullable = true)
 |    |-- Caters: boolean (nullable = true)
 |    |-- CoatCheck: boolean (nullable = true)
 |    |-- Corkage: boolean (nullable = true)
 |    |-- DietaryRestrictions: struct (nullable = true)
 |    |    |-- dairy-free: boolean (nullable = true)
 |    |    |-- gluten-free: boolean (nullable = true)
 |    |    |-- halal: boolean (nullable = true)
 |    |    |-- kosher: boolean (nullable = true)
 |    |    |-- soy-free: boolean (nullable = true)
 |    |    |-- vegan: boolean (nullable = true)
 |    |    |-- vegetarian: boolean (nullable = true)
 |    |-- DogsAllowed: boolean (nullable = true)
 |    |-- DriveThru: boolean (nullable = true)
 |    |-- GoodForDancing: boolean (nullable = true)
 |    |-- GoodForKids: boolean (nullable = true)
 |    |-- GoodForMeal: struct (nullable = true)
 |    |    |-- breakfast: boolean (nullable = true)
 |    |    |-- brunch: boolean (nullable = true)
 |    |    |-- dessert: boolean (nullable = true)
 |    |    |-- dinner: boolean (nullable = true)
 |    |    |-- latenight: boolean (nullable = true)
 |    |    |-- lunch: boolean (nullable = true)
 |    |-- HairSpecializesIn: struct (nullable = true)
 |    |    |-- africanamerican: boolean (nullable = true)
 |    |    |-- asian: boolean (nullable = true)
 |    |    |-- coloring: boolean (nullable = true)
 |    |    |-- curly: boolean (nullable = true)
 |    |    |-- extensions: boolean (nullable = true)
 |    |    |-- kids: boolean (nullable = true)
 |    |    |-- perms: boolean (nullable = true)
 |    |    |-- straightperms: boolean (nullable = true)
 |    |-- HappyHour: boolean (nullable = true)
 |    |-- HasTV: boolean (nullable = true)
 |    |-- Music: struct (nullable = true)
 |    |    |-- background_music: boolean (nullable = true)
 |    |    |-- dj: boolean (nullable = true)
 |    |    |-- jukebox: boolean (nullable = true)
 |    |    |-- karaoke: boolean (nullable = true)
 |    |    |-- live: boolean (nullable = true)
 |    |    |-- no_music: boolean (nullable = true)
 |    |    |-- video: boolean (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: boolean (nullable = true)
 |    |-- OutdoorSeating: boolean (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: boolean (nullable = true)
 |    |-- RestaurantsDelivery: boolean (nullable = true)
 |    |-- RestaurantsGoodForGroups: boolean (nullable = true)
 |    |-- RestaurantsPriceRange2: long (nullable = true)
 |    |-- RestaurantsReservations: boolean (nullable = true)
 |    |-- RestaurantsTableService: boolean (nullable = true)
 |    |-- RestaurantsTakeOut: boolean (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: boolean (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+----------+------------+--------------------+------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|          city|               hours|is_open|  latitude|   longitude|                name|neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+----------+------------+--------------------+------------+-----------+------------+-----+-----+
|4855 E Warner Rd,...|[true,null,null,n...|FYWN1wneV18bWNgQj...|[Dentists, Genera...|     Ahwatukee|[7:30-17:00,7:30-...|      1|33.3306902|-111.9785992|    Dental by Design|            |      85044|          22|  4.0|   AZ|
|  3101 Washington Rd|[null,null,null,n...|He-G7vWjzVUysIKrf...|[Hair Stylists, H...|      McMurray|[9:00-16:00,9:00-...|      1|40.2916853| -80.1048999| Stephen Szabo Salon|            |      15317|          11|  3.0|   PA|
|6025 N 27th Ave, ...|[null,null,null,n...|KQPW8lFf1y5BT2Mxi...|[Departments of M...|       Phoenix|[null,null,null,n...|      1|33.5249025|-112.1153098|Western Motor Veh...|            |      85017|          18|  1.5|   AZ|
|5000 Arizona Mill...|[null,null,null,n...|8DShNS-LuFqpEWIp0...|[Sporting Goods, ...|         Tempe|[10:00-21:00,10:0...|      0|33.3831468|-111.9647254|    Sports Authority|            |      85282|           9|  3.0|   AZ|
|        581 Howe Ave|[null,null,full_b...|PfOCPjBrlQAnz__NX...|[American (New), ...|Cuyahoga Falls|[11:00-1:00,11:00...|      1|41.1195346| -81.4756898|Brick House Taver...|            |      44221|         116|  3.5|   OH|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+----------+------------+--------------------+------------+-----------+------------+-----+-----+
only showing top 5 rows

# Transforming the Review and User Data
Using Spark select function again to do a transformation where we filter out those columns that are not needed.

In [6]:
from pyspark.sql import functions 
df_filtered_reviews = df_reviews.select(df_reviews.review_id, df_reviews.user_id,
                                       df_reviews.business_id, df_reviews.stars,
                                       functions.length(df_reviews.text).alias('review_length'))
print "Filtered Reviews"
df_filtered_reviews.show(5)

Filtered Reviews
+--------------------+--------------------+--------------------+-----+-------------+
|           review_id|             user_id|         business_id|stars|review_length|
+--------------------+--------------------+--------------------+-----+-------------+
|v0i_UHJMo_hPBq9bx...|bv2nCi5Qv5vroFiqK...|0W4lkclzZThpx3V65...|    5|          289|
|vkVSCC7xljjrAI4UG...|bv2nCi5Qv5vroFiqK...|AEx2SYEUJmTxVVB18...|    5|          213|
|n6QzIUObkYshz4dz2...|bv2nCi5Qv5vroFiqK...|VR6GpWIda3SfvPC-l...|    5|          502|
|MV3CcKScW05u5LVfF...|bv2nCi5Qv5vroFiqK...|CKC0-MOWMqoeWf6s-...|    5|          373|
|IXvOzsEMYtiJI0CAR...|bv2nCi5Qv5vroFiqK...|ACFtxLv8pGrrxMm6E...|    4|          523|
+--------------------+--------------------+--------------------+-----+-------------+
only showing top 5 rows

This function filters out the columns that are unnecessary. 
The table is similar to pulling a users information or a license ID. The yelp results consist of name, review count, average ratings, member since, 
and if he or she is an elite member. The conditional statement in the formula helps filter users if they are elite level or not. If their records show
greater than 0 it will show as "true."

In [7]:
#Filtered Yelp Users
df_filtered_users = df_users.select(df_users.user_id, df_users.name, df_users.review_count, 
                                   df_users.average_stars, df_users.yelping_since, 
                                   (functions.size(df_users.elite)>0).alias('is_elite'))
print "Filtered users: "
df_filtered_users.show(5)

Filtered users:
+--------------------+------+------------+-------------+-------------+--------+
|             user_id|  name|review_count|average_stars|yelping_since|is_elite|
+--------------------+------+------------+-------------+-------------+--------+
|oMy_rEb0UBEmMlu-z...|Johnny|           8|         4.67|   2014-11-03|   false|
|JJ-aSuM4pCFPdkfoZ...| Chris|          10|          3.7|   2013-09-24|   false|
|uUzsFQn_6cXDh6rPN...| Tiffy|           1|          2.0|   2017-03-02|   false|
|mBneaEEH5EMyxaVyq...|  Mark|           6|         4.67|   2015-03-13|   false|
|W5mJGs-dcDWRGEhAz...|Evelyn|           3|         4.67|   2016-09-08|   false|
+--------------------+------+------------+-------------+-------------+--------+
only showing top 5 rows

# Averages and Counts by User in the Dataset
Regrouping review records based on the user_id field, so that the field is automatically included in the DataFrame generated in this information. 
The primary focus of the function is to find the averages of the review ratings, length, and count which will display the top 5 rows. 
The second chart is just a rename of the table columns compared to the first.

In [8]:
print "Average Review Ratings, Lengths, and Count: "
df_agg_rev = df_filtered_reviews.groupBy('user_id')\
.agg({'stars':'avg','review_length':'avg','review_id': 'count'})

df_agg_rev.show(5)

df_agg_reviews = df_agg_rev.select('user_id', 'avg(stars)', 'avg(review_length)', 'count(review_id)')\
.toDF('user_id', 'dataset_avg_stars','avg_review_length','dataset_review_count')

df_agg_reviews.show(5)

Average Review Ratings, Lengths, and Count:
+--------------------+----------------+------------------+------------------+
|             user_id|count(review_id)|        avg(stars)|avg(review_length)|
+--------------------+----------------+------------------+------------------+
|Cx5V6BvXk7Gm1_B5l...|               1|               5.0|             511.0|
|cQ5ItbXkfadNScisz...|               2|               5.0|             574.0|
|GF2eVXOpG16w6xY59...|               1|               5.0|             235.0|
|jcA8OaFX75vih2Xwf...|               3|3.6666666666666665| 458.3333333333333|
|kjAZyaTn9Wqa2u1u-...|               1|               1.0|            1621.0|
+--------------------+----------------+------------------+------------------+
only showing top 5 rows

+--------------------+-----------------+-----------------+--------------------+
|             user_id|dataset_avg_stars|avg_review_length|dataset_review_count|
+--------------------+-----------------+-----------------+--------------------+
|wrxM9KTQAqF0-W_Hz...|             3.75|           202.75|                   4|
|X2S5Cq8MEsLn63-6C...|4.571428571428571|            173.0|                   7|
|CNHpjq5Vfs3c16C9-...|              1.0|            528.0|                   1|
|zcp42G-kVhNOJIZSX...|              2.0|            839.0|                   2|
|RMdcyXgulzkMRvFbN...|              1.0|            663.0|                   1|
+--------------------+-----------------+-----------------+--------------------+
only showing top 5 rows

# Combined Users x Review
Both users and reviews were stated in the codes above so for this purpose they will both be combined. 
This will create a bigger table displaying more of the users information. 
An SQL function is used for this to select the relevant information. (inner join x select)

In [9]:

df_users_reviews = df_filtered_users.join(df_agg_reviews, 'user_id', 'left')\
.select (df_filtered_users.user_id, 'name', 'review_count', 'average_stars',
         'yelping_since', 'is_elite', 'dataset_avg_stars', 
         'avg_review_length', 'dataset_review_count')

print "User Reviews:"

df_users_reviews.show(5)

User Reviews:
+--------------------+-------------+------------+-------------+-------------+--------+-----------------+-----------------+--------------------+
|             user_id|         name|review_count|average_stars|yelping_since|is_elite|dataset_avg_stars|avg_review_length|dataset_review_count|
+--------------------+-------------+------------+-------------+-------------+--------+-----------------+-----------------+--------------------+
|--CJT4d-S8UhwqHe0...|        Scott|           3|          2.0|   2015-08-18|   false|              1.0|           1956.0|                   1|
|-0Ji0nOyFe-4yo8BK...|         cubs|          57|         3.28|   2009-05-15|   false|              4.0|             64.0|                   1|
|-0XPr1ilUAfp-yIXZ...|Fairmount Jil|           3|         1.25|   2007-12-26|   false|              2.0|           1849.0|                   1|
|-1KKYzibGPyUX-Mwk...|       Nickie|         163|          4.0|   2009-08-07|    true|              4.0|            510.0|                   1|
|-1zQA2f_syMAdA04P...|         Zach|           4|          3.0|   2014-06-22|   false|              3.0|            289.5|                   4|
+--------------------+-------------+------------+-------------+-------------+--------+-----------------+-----------------+--------------------+
only showing top 5 rows

# Profiling the Dataset
Calculate the percentage of each user's reviews that are in the dataset. This will automatically displayed the first 20 rows.

In [10]:

df_dataset_percentage = df_users_reviews.select('user_id', 'name',\
                                               'review_count', 'average_stars', 'yelping_since', 'is_elite', \
                                               'dataset_avg_stars', 'avg_review_length', 'dataset_review_count',\
                                               (df_users_reviews.dataset_review_count / df_users_reviews.review_count).alias('dataset_percentage'))

df_dataset_percentage.show(10)

+--------------------+-------------+------------+-------------+-------------+--------+------------------+-----------------+--------------------+--------------------+
|             user_id|         name|review_count|average_stars|yelping_since|is_elite| dataset_avg_stars|avg_review_length|dataset_review_count|  dataset_percentage|
+--------------------+-------------+------------+-------------+-------------+--------+------------------+-----------------+--------------------+--------------------+
|--CJT4d-S8UhwqHe0...|        Scott|           3|          2.0|   2015-08-18|   false|               1.0|           1956.0|                   1|  0.3333333333333333|
|-0Ji0nOyFe-4yo8BK...|         cubs|          57|         3.28|   2009-05-15|   false|               4.0|             64.0|                   1|0.017543859649122806|
|-0XPr1ilUAfp-yIXZ...|Fairmount Jil|           3|         1.25|   2007-12-26|   false|               2.0|           1849.0|                   1|  0.3333333333333333|
|-1KKYzibGPyUX-Mwk...|       Nickie|         163|          4.0|   2009-08-07|    true|               4.0|            510.0|                   1|0.006134969325153374|
|-1zQA2f_syMAdA04P...|         Zach|           4|          3.0|   2014-06-22|   false|               3.0|            289.5|                   4|                 1.0|
|-2Pb5d2WBPtbyGT_b...|        mindy|           5|          3.2|   2009-04-29|   false|               5.0|            285.0|                   1|                 0.2|
|-2mPrKWc9UYdvTrOZ...|         Gary|           1|          5.0|   2016-08-21|   false|               5.0|            499.0|                   1|                 1.0|
|-3bsS2i9xqjNnIA1f...|          Kim|          15|         2.47|   2012-04-10|   false|               2.5|           1520.5|                   2| 0.13333333333333333|
|-3i9bhfvrM3F1wsC9...|        Linda|         604|         4.06|   2005-08-07|    true|3.4285714285714284|            574.5|                  14|0.023178807947019868|
|-4Anvj46CWf57KWI9...|       Cookie|           2|          3.5|   2016-08-17|   false|               3.5|            459.0|                   2|                 1.0|
+--------------------+-------------+------------+-------------+-------------+--------+------------------+-----------------+--------------------+--------------------+
only showing top 10 rows

# Percentage of User's Reviews (Count)
For this code, it will display a count based off the percentage of the user's reviews in the dataset that exceed 100%. 
The actual count turned out to be 51.

In [11]:

df_dataset_percentage.filter(df_dataset_percentage.dataset_percentage > 1.0).agg({'*':'count'}).show() 
df_dataset_percentage.printSchema()

+--------+
|count(1)|
+--------+
|      51|
+--------+

root
 |-- user_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- average_stars: double (nullable = true)
 |-- yelping_since: string (nullable = true)
 |-- is_elite: boolean (nullable = false)
 |-- dataset_avg_stars: double (nullable = true)
 |-- avg_review_length: double (nullable = true)
 |-- dataset_review_count: long (nullable = true)
 |-- dataset_percentage: double (nullable = true)

# Sort the data percentage
Same process as the last code but there will be no count instead we will be sorting the data and display the first 100 result.

In [12]:
df_dataset_percentage.filter(df_dataset_percentage.dataset_percentage > 1.0)\
.sort('dataset_percentage', ascending=False).show(100)

+--------------------+---------+------------+-------------+-------------+--------+------------------+------------------+--------------------+------------------+
|             user_id|     name|review_count|average_stars|yelping_since|is_elite| dataset_avg_stars| avg_review_length|dataset_review_count|dataset_percentage|
+--------------------+---------+------------+-------------+-------------+--------+------------------+------------------+--------------------+------------------+
|Gd9goxOHld8UOWYqs...|    Lanny|           1|         2.62|   2011-04-09|   false|3.5833333333333335| 428.3333333333333|                  12|              12.0|
|SnEgF9J2NRptXjskX...|   Regina|           5|          3.1|   2015-02-03|   false|3.2972972972972974| 363.8378378378378|                  37|               7.4|
|Pfkoyhdup4UeFOslJ...|     Seth|           1|         4.86|   2015-02-21|   false|               5.0|             407.0|                   4|               4.0|
|GXnPGaeM334u_e_JC...|        Y|           2|         3.85|   2009-07-26|   false| 4.428571428571429| 920.2857142857143|                   7|               3.5|
|1duCTLdmqXHqd5WGe...|       Lo|           1|         3.47|   2009-03-25|    true|               5.0|175.66666666666666|                   3|               3.0|
|RGKIVa5bGSqX5vMnp...|  Andrews|           9|         4.14|   2014-09-01|   false|              4.05|            549.15|                  20|2.2222222222222223|
|bgmffI7VNYbia4yOZ...|    Sarah|           2|          3.0|   2012-10-25|   false|               3.0|            942.25|                   4|               2.0|
|M_k8osDw9Wn6XV96R...|Christian|           1|          1.5|   2017-04-07|   false|               1.5|             466.5|                   2|               2.0|
|XXvfUheazyf-RrLB_...|Pon-yeeah|           1|         4.75|   2013-01-10|   false|               5.0|             364.5|                   2|               2.0|
|BqvJOhn0QKRSj7Cxd...|      Tom|           1|          1.0|   2016-05-26|   false|               1.0|             610.0|                   2|               2.0|
|N3_acAlXyiaOl8MSu...|     Rose|           1|          3.0|   2017-02-05|   false|               3.0|             146.5|                   2|               2.0|
|_apv24N3nLwIdPrHx...|    Udell|           1|          1.0|   2017-01-22|   false|               1.0|             802.5|                   2|               2.0|
|Qg42D4N2l-tUBJ1eX...|    Jenny|           3|         4.17|   2014-06-22|   false|               4.2|             180.8|                   5|1.6666666666666667|
|oP_guLe__P5BKsTMc...|    Conor|           2|          3.0|   2016-11-10|   false|3.6666666666666665| 733.3333333333334|                   3|               1.5|
|8GpM-QUlb0V9DP56X...|     Jess|           2|         3.67|   2016-05-01|   false|3.6666666666666665|             458.0|                   3|               1.5|
|-CgbL7Rygee52C3yl...|      Kim|           2|          2.5|   2017-01-06|   false|               3.0|            1406.0|                   3|               1.5|
|MqjTaPHdrotau9Pfm...|     Matt|           2|          5.0|   2013-05-16|   false|               5.0|            1196.0|                   3|               1.5|
|XJO8ZygvC_isYnDWk...|     Eric|           2|          4.0|   2012-02-04|   false|3.6666666666666665|             343.0|                   3|               1.5|
|S0hQ2Xbfz1R9c6a69...|     Alex|           2|         4.25|   2016-10-23|   false|               4.0|             441.0|                   3|               1.5|
|ZegUGw7AUB0fjJDEy...|   Kelsey|           2|         3.67|   2016-07-16|   false|3.6666666666666665| 622.3333333333334|                   3|               1.5|
|WTWe_JqDZlnYAJ8_B...|     Lina|           2|          4.0|   2017-01-07|   false|               4.0| 535.3333333333334|                   3|               1.5|
|upRAv2okAqxzUfnjE...|    Chris|           2|          3.2|   2017-05-02|   false|3.3333333333333335| 411.3333333333333|                   3|               1.5|
|UnP006Mbi-AqSTn23...|      Avi|           2|          4.0|   2013-07-18|   false|               5.0| 325.3333333333333|                   3|               1.5|
|QPFyfh2vkdWs2aNrF...|      Mag|           2|          5.0|   2017-01-17|   false|               5.0|             178.0|                   3|               1.5|
|smLJbNzjlVx2wsH6g...|     Lexi|           3|          3.0|   2014-10-21|   false|               3.0|             471.0|                   4|1.3333333333333333|
|6cba0fI0-Hog52YFL...|Christina|           3|          3.6|   2015-09-08|   false|               4.0|            713.25|                   4|1.3333333333333333|
|87v53p49Kh_m7caV8...|   Aniket|           3|          5.0|   2014-08-08|   false|               5.0|             168.5|                   4|1.3333333333333333|
|QM-dtt5FAFUBi2mt_...|  Melissa|           3|          5.0|   2014-03-02|   false|               5.0|            419.75|                   4|1.3333333333333333|
|7RL3qW5IqoD4Mu3X1...|     Bill|           3|          2.0|   2016-08-17|   false|               2.0|            432.75|                   4|1.3333333333333333|
|AZ1WEuHI2C-cRaXS-...|  Cecilia|           3|          3.9|   2014-07-31|   false|              3.75|             888.0|                   4|1.3333333333333333|
|sLbjJ2OTQOLSnMJLA...|    Allix|           3|          2.8|   2016-11-14|   false|              3.25|             631.5|                   4|1.3333333333333333|
|sOL4vqXDrGGm0fPyV...| Samantha|           4|          4.2|   2014-05-02|   false|               4.2|             670.6|                   5|              1.25|
|3Hv7dnRcwC4IBEvUy...|        S|           4|          3.4|   2012-04-17|   false|               3.4|             145.4|                   5|              1.25|
|vf3u305Cp4wwreUx8...|        J|           4|          4.2|   2014-10-25|   false|               4.2|             252.0|                   5|              1.25|
|jDoR1VKY9mnWur0YV...|    Maika|           4|         4.25|   2013-10-21|   false|               4.8|             252.8|                   5|              1.25|
|C_LxqoDy2nwwTZX7X...|   Ashley|           5|          3.0|   2014-05-09|   false|               3.0| 306.1666666666667|                   6|               1.2|
|CqO8EBO8K7wV6cyAv...|   Maggie|           5|         2.79|   2016-09-26|   false|2.1666666666666665| 365.6666666666667|                   6|               1.2|
|qNeb0IsEKPR6K9Igt...|        N|           6|         3.86|   2014-08-27|   false| 3.857142857142857|212.14285714285714|                   7|1.1666666666666667|
|2y9cPgLYd4Okx6Zk1...|     Ivan|           6|          2.4|   2012-07-31|   false|2.5714285714285716|             769.0|                   7|1.1666666666666667|
|z0MLuGcYk8olNQ7TC...|    Laura|           6|         3.44|   2012-12-17|   false|3.5714285714285716| 735.8571428571429|                   7|1.1666666666666667|
|xCMMiUeEunMpXnh8b...| Samantha|           6|         4.63|   2015-03-20|   false| 4.571428571428571| 400.2857142857143|                   7|1.1666666666666667|
|_wYJcDJ8YWCqFdU3C...| Cristina|           7|         3.15|   2014-11-17|   false|               3.5|            334.75|                   8|1.1428571428571428|
|elf4PucDzGfsKk4ps...|    Sarah|           7|          4.0|   2016-07-18|   false|               4.5|           438.625|                   8|1.1428571428571428|
|hbQobvcC07W0zQA_9...|     Dave|           8|         3.67|   2013-03-01|   false|               4.0|349.22222222222223|                   9|             1.125|
|sO0EQAiJVB5FUOvCO...|     Rose|           9|         3.92|   2013-11-24|   false|               3.9|             300.9|                  10|1.1111111111111112|
|fL5CQ4s4ANUvwsU0h...|    Scott|          10|         3.44|   2016-05-26|   false|3.3636363636363638| 400.8181818181818|                  11|               1.1|
|ddPFBOsvFjaOVRj8s...|   Brandi|          11|         3.24|   2014-06-26|   false| 4.416666666666667| 553.4166666666666|                  12|1.0909090909090908|
|hOPE0YPENSZhsC-nl...|  Abigail|          15|         3.25|   2015-07-23|   false|              3.25|             600.0|                  16|1.0666666666666667|
|0LQZIzeAsJgLdrRp4...|     Rose|          23|         2.05|   2014-07-02|   false|2.0833333333333335|1054.4583333333333|                  24|1.0434782608695652|
|v8DTz8SQRMlFdWrpC...|    Sarah|          31|         3.67|   2007-04-14|    true|           3.40625|         839.53125|                  32| 1.032258064516129|
|EdDmKiz6V89g6Dws9...|    Harry|          73|         3.79|   2016-01-27|    true| 3.689189189189189|473.35135135135135|                  74|1.0136986301369864|
+--------------------+---------+------------+-------------+-------------+--------+------------------+------------------+--------------------+------------------+

# How many businesses are there in each of the nine North American Cities?

This will pull data from the "BUSINESS" table which we will use to extract the 9 metropolitan areas in North America. Using the CASE WHEN function allows the query to pull only specific metropolitan areas and then a count function will be added to sum businesses for each city. Also, Charlotte is considered adding both the states South Carolina (SC) and North Carolina (NC). The primary focus is to discover which North American cities has the most business.

In [13]:
df_business.createOrReplaceTempView("business")

print ("Number of Businesses in the 9 North American Cities: ")

df_north_america = spark.sql("""
SELECT 
    CASE
      WHEN City = "Las Vegas" THEN "Las Vegas, NV"
      WHEN City = "Phoenix" THEN "Phoenix, AZ"
      WHEN City = "Madison" THEN "Madison, WI"
      WHEN City = "Urbana" THEN "Urbana-Champaign, IL"
      WHEN City = "Cleveland" THEN "Cleveland, OH"
      WHEN City = "Pittsburgh" THEN "Pittsburgh, PA"
      WHEN City = "Charlotte" OR State = "SC" THEN "Charlotte, NC"
      WHEN City = "Montreal" THEN "Montreal, Canada"
      WHEN State = "QC" THEN "Quebec, Canada"
    END AS Metropolitan_Areas
FROM business
""")

df_north_america.groupBy('Metropolitan_Areas').count().orderBy('count').show(9, truncate = False)

df_north_america.createOrReplaceTempView("numero")

Number of Businesses in the 9 North American Cities:
+--------------------+-----+
|Metropolitan_Areas  |count|
+--------------------+-----+
|Montreal, Canada    |264  |
|Urbana-Champaign, IL|384  |
|Madison, WI         |3213 |
|Cleveland, OH       |3322 |
|Pittsburgh, PA      |6355 |
|Quebec, Canada      |7906 |
|Charlotte, NC       |9232 |
|Phoenix, AZ         |17213|
|Las Vegas, NV       |26775|
+--------------------+-----+
only showing top 9 rows

# How many continuing locals are there in the dataset?

We want to discover how many local users have written at least 10 reviews and have over 50% of their reviews. The query previously grabs the established data table "dataset_percentage" calculated earlier. The results returned 88,301 continuing local users in the dataset with the requirements.

In [14]:
df_dataset_percentage.createOrReplaceTempView("dataset_percentage")

print "Locals with at least 10 reviews and contain 50%: "

df_locals = spark.sql("""
SELECT COUNT(user_id) AS Locals
FROM dataset_percentage
WHERE review_count >= 10 AND dataset_percentage > 0.5
""")

df_locals.show(truncate = False)

Locals with at least 10 reviews and contain 50%:
+------+
|Locals|
+------+
|88301 |
+------+

In [15]:
df_locals.createOrReplaceTempView("locals")
df_locals.printSchema()

root
 |-- Locals: long (nullable = false)

# How many reviews are there in each of the nine cities?

In the code below, we create a dataframe that shows us the 9 states and the review count for each.  However, there is one catch to convert states with the value 'SC' to be converted to 'NC'.  'SC' values that are converted to 'NC' will still be their own row as shown below.

In [16]:
df_total_reviews = spark.sql("""
SELECT IF(state = 'SC', 'NC', state) as States, SUM(review_count) as Total_Reviews
FROM business 
WHERE (state = 'NV' 
OR state ='AZ' 
OR state ='WI'
OR state ='IL'
OR state ='OH'
OR state ='PA'
OR state ='NC' 
OR state ='QC'
OR state ='ON'
OR state = 'SC')
GROUP BY state
ORDER BY total_reviews DESC
""")

df_total_reviews.show()

+------+-------------+
|States|Total_Reviews|
+------+-------------+
|    NV|      1824387|
|    AZ|      1627693|
|    ON|       634263|
|    NC|       307426|
|    OH|       243677|
|    PA|       229804|
|    QC|       146379|
|    WI|       109737|
|    IL|        36378|
|    NC|        10857|
+------+-------------+

The below code creates a dataframe that we will use to sum the two seperate 'NC' rows together

In [17]:
df_total_reviews.createOrReplaceTempView("combined")
df_total_reviews.printSchema()

root
 |-- States: string (nullable = true)
 |-- Total_Reviews: long (nullable = true)

The below code is a SQL query ran on the "combined" dataframe that sums up the two NC rows to make one row.

In [18]:
df_combined = spark.sql("""
SELECT states as States, sum(Total_Reviews) AS Reviews
FROM combined
GROUP BY states
ORDER BY sum(Total_Reviews) DESC
""")
df_combined.show(truncate = False)

+------+-------+
|States|Reviews|
+------+-------+
|NV    |1824387|
|AZ    |1627693|
|ON    |634263 |
|NC    |318283 |
|OH    |243677 |
|PA    |229804 |
|QC    |146379 |
|WI    |109737 |
|IL    |36378  |
+------+-------+

In [19]:
df_business.createOrReplaceTempView("business")
df_reviews.createOrReplaceTempView("reviews")
df_users.createOrReplaceTempView("users")
df_dataset_percentage.createOrReplaceTempView("dataset")
df_combined.createOrReplaceTempView("state_reviews")

# Which percentage of each metro area's reviews were writen by users who are continuing locals?
The result should be a DataFrame (DF) where you show with the following 4 columns: 
    * Metro area (this can be the state code)
    * Number of reviews (total)
    * Number of reviews in that metro areas by continuing locals
    * Percentage of reviews in that metro areas by continuing locals
The result should be sorted based on the perecentage in that last column. You can use DataFrames (DF), Temporary Views (TV), or a combination of both in answering the question.

This SQL dataset will be represented by "df_dataset_reviews" which will be joined with the "reviews" table specifically on their user_id and continuing locals who have review counts of at least 10 and their dataset_percentage is greater than 50%. This will match up their user id's for the next queries.

In [20]:

df_dataset_reviews = spark.sql("""
SELECT 
    D.dataset_percentage as Dataset_Percentage, 
    D.dataset_review_count as Review_Count, 
    R.business_id  
FROM dataset as D
INNER JOIN reviews as R
ON D.user_id = R.user_id
WHERE review_count >= 10 AND dataset_percentage > 0.5
""")

df_dataset_reviews.show(20, truncate = False)

+------------------+------------+----------------------+
|Dataset_Percentage|Review_Count|business_id           |
+------------------+------------+----------------------+
|0.5945945945945946|22          |WXR0ND0KqbArMZDvFMA-bw|
|0.5945945945945946|22          |3qlqzQrwh8hjBltlgFgsJQ|
|0.5945945945945946|22          |nn4ZkIZTCd7jJhxs-P9tHA|
|0.5945945945945946|22          |RezqChEv5DPJC85d20R85A|
|0.5945945945945946|22          |_e3rChyednoh47n2cjGv2w|
|0.5945945945945946|22          |Mypk1XBD6PQ77zLXyMiKhg|
|0.5945945945945946|22          |F-QY0xyNi9z1p0wjZvnk3g|
|0.5945945945945946|22          |qrK73viBBJY_hx3bgRQw7w|
|0.5945945945945946|22          |9O-L6F0cMfNmE5i07pN_xQ|
|0.5945945945945946|22          |T-KniGykrZ46ZC9plOTspw|
|0.5945945945945946|22          |DaVTuhzi6EgWStb2eAjNjA|
|0.5945945945945946|22          |LIxNfkk9vgPikLh1W-5f8w|
|0.5945945945945946|22          |wHq1efQVz17338k_aUOX3w|
|0.5945945945945946|22          |C3VnuPP_flttZPokgU2mLw|
|0.5945945945945946|22          |twoxa0_9sn6ZN4j40kDsuA|
|0.5945945945945946|22          |VuYF1vGKLjEFaQfL4Ypwqg|
|0.5945945945945946|22          |ZxA3HG1kxD-0ZzKuealTFA|
|0.5945945945945946|22          |6t98--hqg8suYkm_37re8w|
|0.5945945945945946|22          |po-05-AGCVxEme-SbNUIKw|
|0.5945945945945946|22          |3awTUGMdUVrwEBkFFOxn9Q|
+------------------+------------+----------------------+
only showing top 20 rows

In [21]:
#Creates a temporary view of the previous query and set to "dataset1"
df_dataset_reviews.createOrReplaceTempView("dataset1")
df_dataset_reviews.printSchema()

root
 |-- Dataset_Percentage: double (nullable = true)
 |-- Review_Count: long (nullable = true)
 |-- business_id: string (nullable = true)

The second query, we will inner join this with the "business" database now specifically to match up their business_id. Our end goal is to make sure that each user id is matched up correctly and that are from the metro areas. In this purpose, we were able to pull state in this dataset which will be used for the next query.

In [22]:
df_dataset_business = spark.sql("""
SELECT d.dataset_percentage,
       d.review_count, 
       b.business_id, 
       b.state
FROM dataset1 as d
INNER JOIN business as b 
ON d.business_id = b.business_id
""")

df_dataset_business.show(truncate = False)

+------------------+------------+----------------------+-----+
|dataset_percentage|review_count|business_id           |state|
+------------------+------------+----------------------+-----+
|0.5945945945945946|22          |WXR0ND0KqbArMZDvFMA-bw|AZ   |
|0.5945945945945946|22          |3qlqzQrwh8hjBltlgFgsJQ|AZ   |
|0.5945945945945946|22          |nn4ZkIZTCd7jJhxs-P9tHA|AZ   |
|0.5945945945945946|22          |RezqChEv5DPJC85d20R85A|AZ   |
|0.5945945945945946|22          |_e3rChyednoh47n2cjGv2w|AZ   |
|0.5945945945945946|22          |Mypk1XBD6PQ77zLXyMiKhg|AZ   |
|0.5945945945945946|22          |F-QY0xyNi9z1p0wjZvnk3g|AZ   |
|0.5945945945945946|22          |qrK73viBBJY_hx3bgRQw7w|AZ   |
|0.5945945945945946|22          |9O-L6F0cMfNmE5i07pN_xQ|AZ   |
|0.5945945945945946|22          |T-KniGykrZ46ZC9plOTspw|AZ   |
|0.5945945945945946|22          |DaVTuhzi6EgWStb2eAjNjA|AZ   |
|0.5945945945945946|22          |LIxNfkk9vgPikLh1W-5f8w|AZ   |
|0.5945945945945946|22          |wHq1efQVz17338k_aUOX3w|AZ   |
|0.5945945945945946|22          |C3VnuPP_flttZPokgU2mLw|AZ   |
|0.5945945945945946|22          |twoxa0_9sn6ZN4j40kDsuA|AZ   |
|0.5945945945945946|22          |VuYF1vGKLjEFaQfL4Ypwqg|AZ   |
|0.5945945945945946|22          |ZxA3HG1kxD-0ZzKuealTFA|AZ   |
|0.5945945945945946|22          |6t98--hqg8suYkm_37re8w|AZ   |
|0.5945945945945946|22          |po-05-AGCVxEme-SbNUIKw|AZ   |
|0.5945945945945946|22          |3awTUGMdUVrwEBkFFOxn9Q|AZ   |
+------------------+------------+----------------------+-----+
only showing top 20 rows

In [23]:
#Creates a temporary view 
df_dataset_business.createOrReplaceTempView("dataset_business")

Finally, we can put all the pieces together before we get to the data cleaning phase. Previously, we found the total reviews of the 9 metro areas above and now we want to inner join on states. We set the previous query to "dataset_business" to join on "state_reviews" so now it will focus on specifically the 9 areas.

In [24]:
df_all_together = spark.sql("""
SELECT d.dataset_percentage, 
       d.review_count,
       d.business_id, 
       d.state, 
       s.Reviews as total_reviews
FROM dataset_business as d
INNER JOIN state_reviews as s
on d.state = s.states
""")

df_all_together.show(20, truncate = False)

+------------------+------------+----------------------+-----+-------------+
|dataset_percentage|review_count|business_id           |state|total_reviews|
+------------------+------------+----------------------+-----+-------------+
|0.5945945945945946|22          |WXR0ND0KqbArMZDvFMA-bw|AZ   |1627693      |
|0.5945945945945946|22          |3qlqzQrwh8hjBltlgFgsJQ|AZ   |1627693      |
|0.5945945945945946|22          |nn4ZkIZTCd7jJhxs-P9tHA|AZ   |1627693      |
|0.5945945945945946|22          |RezqChEv5DPJC85d20R85A|AZ   |1627693      |
|0.5945945945945946|22          |_e3rChyednoh47n2cjGv2w|AZ   |1627693      |
|0.5945945945945946|22          |Mypk1XBD6PQ77zLXyMiKhg|AZ   |1627693      |
|0.5945945945945946|22          |F-QY0xyNi9z1p0wjZvnk3g|AZ   |1627693      |
|0.5945945945945946|22          |qrK73viBBJY_hx3bgRQw7w|AZ   |1627693      |
|0.5945945945945946|22          |9O-L6F0cMfNmE5i07pN_xQ|AZ   |1627693      |
|0.5945945945945946|22          |T-KniGykrZ46ZC9plOTspw|AZ   |1627693      |
|0.5945945945945946|22          |DaVTuhzi6EgWStb2eAjNjA|AZ   |1627693      |
|0.5945945945945946|22          |LIxNfkk9vgPikLh1W-5f8w|AZ   |1627693      |
|0.5945945945945946|22          |wHq1efQVz17338k_aUOX3w|AZ   |1627693      |
|0.5945945945945946|22          |C3VnuPP_flttZPokgU2mLw|AZ   |1627693      |
|0.5945945945945946|22          |twoxa0_9sn6ZN4j40kDsuA|AZ   |1627693      |
|0.5945945945945946|22          |VuYF1vGKLjEFaQfL4Ypwqg|AZ   |1627693      |
|0.5945945945945946|22          |ZxA3HG1kxD-0ZzKuealTFA|AZ   |1627693      |
|0.5945945945945946|22          |6t98--hqg8suYkm_37re8w|AZ   |1627693      |
|0.5945945945945946|22          |po-05-AGCVxEme-SbNUIKw|AZ   |1627693      |
|0.5945945945945946|22          |3awTUGMdUVrwEBkFFOxn9Q|AZ   |1627693      |
+------------------+------------+----------------------+-----+-------------+
only showing top 20 rows

In [25]:
df_all_together.createOrReplaceTempView("all_together")
df_all_together.printSchema()

root
 |-- dataset_percentage: double (nullable = true)
 |-- review_count: long (nullable = true)
 |-- business_id: string (nullable = true)
 |-- state: string (nullable = true)
 |-- total_reviews: long (nullable = true)

The cleaning phase now. We pull the first "total_reviews" from the query above and count the states up which we will label local_reviews. This will allow us to find the total percetnage of reviews in the metro areas for continuing locals.

In [26]:

df_final = spark.sql("""
SELECT state, 
       first(total_reviews) as all_reviews, 
       count(state) as local_reviews
FROM all_together
GROUP BY state
""")

df_final.show()

+-----+-----------+-------------+
|state|all_reviews|local_reviews|
+-----+-----------+-------------+
|   AZ|    1627693|       748244|
|   QC|     146379|        57390|
|   NV|    1824387|       609923|
|   WI|     109737|        36330|
|   NC|     318283|       114314|
|   IL|      36378|         7837|
|   OH|     243677|        91599|
|   PA|     229804|        82982|
|   ON|     634263|       374431|
+-----+-----------+-------------+

In [27]:
df_final.createOrReplaceTempView("final")
df_final.printSchema()

root
 |-- state: string (nullable = true)
 |-- all_reviews: long (nullable = true)
 |-- local_reviews: long (nullable = false)

A dataframe is used here named "df_final_2" which we want to select all the columns from the previous table. We divide local_reviews to all_reviews and multiply it by 100 to find the percentage. We will label that as local_percentage_of_total. Based off the results, it looks like Ontario has the most continuing locals that still post reviews at 59% with locals in Arizona coming in second at 45%.

In [31]:
#LAST FINAL PIECE FINALLY
df_final_2 = df_final.select('state', 'all_reviews','local_reviews',
((df_final.local_reviews / df_final.all_reviews) * 100).alias('local_percentage_of_total')).show()

+-----+-----------+-------------+-------------------------+
|state|all_reviews|local_reviews|local_percentage_of_total|
+-----+-----------+-------------+-------------------------+
|   AZ|    1627693|       748244|       45.969602375878004|
|   QC|     146379|        57390|        39.20644354723014|
|   NV|    1824387|       609923|        33.43166773277819|
|   WI|     109737|        36330|        33.10642718499685|
|   NC|     318283|       114314|       35.915835907038705|
|   IL|      36378|         7837|        21.54324042003409|
|   OH|     243677|        91599|         37.5903347464061|
|   PA|     229804|        82982|        36.10990235156916|
|   ON|     634263|       374431|        59.03402847083938|
+-----+-----------+-------------+-------------------------+